body {
    margin: 0;
    padding:0;
}

nav, aside, footer, header, section {
    width: 100%;
    text-align: center;
    background-color: grey;
}

section {

    float: left;
    height: inherit;
    flex: 3;
}

aside {

    background-color: #eee;
    float: right;
    flex: 2;
}

content {
    display: flex;
    flex-direction: row;
    }


footer {
    clear: both;
}